.nav a{
	color: white;
	font-weight: bold;
}

.nav a:hover{
	color: black;
	
}

.nav-pills li{
	text-align: center;
	margin: 0 5vw;
}

@media screen and (max-width: 537px) {
	.nav a{
		font-size: 75%;
	}
}